.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F8C8DC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addButton {
  color: white;
  background-color:  #F8C8DC;
  border: none;
}

.todo-item {
  border: 1px solid #C3B1E1;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.myList{
  margin: 100px;
}

.action-edit {
  background-color: #A7C7E7;
  color: white;
  margin-right: 5px;
  font-size: 20px;
}

.action-delete {
  background-color: #F8C8DC;
  color: white;
  font-size: 20px;
}